@import "common/variables";


.day-navigation-button {
  min-height: 100%;
  display: table-cell;
  vertical-align: middle;
  min-height: 100%;
  width: 48px;
  font-size: 28px;
  color: lighten($darker-gray, 10%);
}

@media screen and (min-width: 1024px) {

  .day-navigation-button {
    cursor: pointer;

    &:hover {
      background-color: lighten($gray, 18%);
    }
  }

}
