@import "common/variables";


.top-menu {
  background-color: $darker-gray;
}

@media screen and (min-width: 1024px) {

  .top-menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
  }
}
