@import '../fontAwesome/font-awesome';

/* Open Sans Regular */
@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSans-Regular.ttf") format('truetype');
}

/* Open Sans Semi-Bold */
@font-face {
  font-family: 'Open Sans SB';
  src: url("OpenSans-SemiBold.ttf") format('truetype');
}

/* Kaushan Script Regular */
@font-face {
  font-family: 'Kaushan Script';
  src: url("fonts/KaushanScript-Regular.ttf") format('truetype');
}
